<!DOCTYPE html>
<html>
<head>
	<title>Legitimate Message</title>
	<style>
		body {
			background-color: #202124;
			color: #fff;
			font-family: Arial, sans-serif;
			font-size: 18px;
			line-height: 1.5;
			margin: 0;
			padding: 0;
		}
		h1 {
			font-size: 32px;
			margin-bottom: 20px;
			text-align: center;
			text-transform: uppercase;
                  color: #4caf50;
		}
		p {
			margin-bottom: 20px;
			text-align: center;
		}
	</style>
</head>
<body>
	<h1>Legitimate Message</h1>
	<p>Your message was legitimate.</p>
</body>
</html>